body {
    margin: 60px auto;
    width: 70%;
    padding: 0;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}
a {
    color: #1e90ff;
    font-size: 20px;
    text-decoration: underline;
}
a.footer {
    color: #1e90ff;
    font-size: 15px;
    text-decoration: underline;
}
a:hover {
     text-decoration: line-through;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.project {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #1e90ff;
}
p {
    font-family: 'Arial';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    flex: 1;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer.bottom {
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    min-height: 0;
    margin-top: 100;
    margin-left: -280px;
    width: 100%;
    display: block;
    background-color: #1e90ff;
    padding: 15px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
img.pfp {
    margin-right: 50px;
    margin-bottom: 20px;
    vertical-align: text-top;
    margin-top: 5px;
    border-radius: 50%;
    width:200px;
    border-style: solid;
    border-color: #1e90ff;
    border: 3px solid #1e90ff;
}
ul.posts li {
    list-style: none;
}
