/*body {
    margin: 60px auto;
    width: 70%;
    padding: 0;
}*/

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align:center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}
a {
    color: #1e90ff;
    font-size: 20px;
    text-decoration: underline;
}
a.footer {
    color: #1e90ff;
    font-size: 15px;
    text-decoration: underline;
}
a:hover {
     text-decoration: line-through;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
.project {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #1e90ff;
    text-align: center;
}
p {
    font-family: 'Arial';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    flex: 1;
}
p.center {
    font-family: 'Arial';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    flex: 1;
    text-align:center;
}
p.centerfooter{
   font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    /* line-height: 1.4em; */
    color: white;
    flex: 1;
    text-align: center;
    line-height: .4em;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
    margin-top: 30px;
}/*
footer.bottom {
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    min-height: 0;
    margin-top: 100;
    margin-left: -280px;
    width: 100%;
    display: block;
    background-color: #1e90ff;
    padding: 15px;
}*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -115px; /* the bottom margin is the negative value of the footer's height */
}
.bottom, .push {
    height: 15px; /* .push must be the same height as .footer */
    background-color: #1e90ff;
    bottom: 0;
    margin-top: 115px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
img.pfp {
    margin-right: 50px;
    margin-bottom: 20px;
    vertical-align: text-top;
    margin-top: 5px;
    border-radius: 50%;
    width:200px;
    border-style: solid;
    border-color: #1e90ff;
    border: 3px solid #1e90ff;
}
ul.posts li {
    list-style: none;
    text-align: -webkit-center;
}
@media (min-width: 0px) and (max-width: 767px) {
     html {
    margin: 50px auto;
    width: 80%;
    padding: 0;
    }
  body {
    margin: 60px auto;
    width: 80%;
    padding: 0;
}
}
@media (min-width: 768px) {
   html {
    margin: 50px auto;
    width: 70%;
    padding: 0;
    }
   body {
    margin: auto;
    width: 70%;
    border: black;
    border-width: 3px;
    box-sizing: border-box;
    border-style: solid;
    padding: 30px;
    overflow:hidden;
    display:block;
}
    /*
@media all and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        transform: rotate(90deg); 
    }*/
}
}
