<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"> 
			<!--<meta name="viewport" content="initial-scale=0.5">-->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&amp;subset=latin-ext,latin" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/projects/">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				{% include analytics.html %}	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a class ="footer" href="mailto:liupat@seas.upenn.edu">email</a></li>
				<li><a class ="footer" href="https://www.linkedin.com/in/patrick-liu-567510100">linkedin</a></li>
				<li><a class ="footer" href="https://github.com/pat-liu">github</a></li>
				<li><a class ="footer" href=https://www.instagram.com/pat.1iu/>instagram</a></li>
			{% include analytics.html %}	
				</ul>
		
			<div class="wrapper">
    <div class="header">
        <h1></h1>
    </div>
    <div class="content"></div>
				<div class="push"><footer class = "bottom"><p class="centerfooter">Made with <span style="color: #e25555;">&hearts;</span> by Pat Liu</p></footer></div>
</div>
<div class="bottom"></div>
				
			</footer>
		</body>
	</html>
